
html{
    opacity: 1;
    z-index: -1;
}
body{
    margin: 0px;
    padding: 0px;
}
.body{
    background:url('../img/water.jpg');
}

body::after{
    content: "";
    /* background:url('../img/leaves.jpg'); */
    opacity: 0.9;
    z-index: -1;
}

:root{
    font-size: 1.2rem;
    --greyish_white:rgba(246,246,246,0.9);
}

.cont{
    display: grid;
    grid-template-rows: 100px 100px;
    justify-content: center;
    
}

.navbar{
    position: fixed;
    top:0px;
    width: 100vw;
    height: fit-content;
    background-color: #013459;
    color: var(--greyish_white);
    box-shadow: 2px 2px 2px black;
}

.cont  ul{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:center;
    grid-gap: 2rem;
    font-family: 'Akaya Telivigala', cursive;
    font-size:1.7rem;
    padding:0.9rem;
    margin: 0%;
    justify-content: center;
    align-content: center;
}
nav li {
    /* justify-content: center; */
    padding: 0.1rem;
    list-style: none;
    text-decoration: none;
} 
nav li a{
    
    padding: 0.1rem;
    list-style: none;
    text-decoration: none;
} 
.cont li a:hover{
    font-style: oblique;
    background-color: white;
    color: #013459;
    height: 50%;
    border-radius: 20px;
    padding:10px;
    cursor: pointer;
}

.cont h1{
    font-size: 1.8rem;
    position: relative; 
    top: 4rem;
    color:var(--greyish_white);
    font-family: 'Lobster Two', cursive;
}


/* SECTION */
#section{
    margin:0 20%;
    background-color: var(--greyish_white);
    height: 100vw;
    padding:3%;
    border-radius: 5%;
    font-family: Arial,Helvetica,sans-serif;
}
